@media(min-width:1200px)
{
	#navbar
	{
		float:right;
	}
	#navbar li 
	{
		margin-left:20px;	
	}
	.carousel-content
{
	position:absolute;
	padding-right:35%;
}
	
}
@media(min-width:992px) and (max-width:1199px)
{
	#navbar
	{
		float:right;
		
	}
	
	#navbar li 
	{
		margin-left:5px;
	
	}
	.carousel-content
{
	position:absolute;
	padding-right:40%;
}


}
@media(min-width:768px) and (max-width:991px)
{
#navbar
{
	padding-left:50px;
	padding-top:20px;
}
#navbar li 
	{
		margin-left:10px;	
	}
#inp input
{
	    width: 70%;
}
#inp 
{	    
		padding-left:25%;
		padding-bottom:20px;	
}
#logo
{
  text-align:center;
}


}
@media(max-width:767px)
{
.heder
{
	margin-left:20px;
	margin-right:20px;
	
}
#inp 
{	
	padding-left:15%;
	padding-bottom:25px;
	
}
#inp input
{
	    width: 90%;
		
}
#logo
{
  text-align:center;
}


}
@media (min-width:735px) and (max-width:991px)
{
.carousel-indicators
{
top:480px;
}
}
@media (min-width:620px) and (max-width:734px)
{
.carousel-indicators
{
top:520px;
}
}
@media  (max-width:619px)
{
.carousel-indicators
{
top:550px;
}
}
@media (max-width: 767px) 
{
#navbar li img 
	{
		 display: none;	
	}
}

